<% provide(:title, @user.name) %>
<div class="container users-show-container">
  <div class="title-container">
    <h1 class = "title-users-show" >プロフィール</h1>
  </div>
    <article class="users_info">
      <p class="profile-edit">
        <%= link_to "登録内容を編集する", edit_user_path,class: " btn btn-md btn-outline-success "if  current_user?(@user) %>
      </p>
      <div class="profile">
        <% if @user.image? %>
          <%= image_tag @user.image.url,size:80, class:"user-image"%>
        <% else %>
          <%= image_tag "default.png" ,size:80,class:"user-image-default" %>
        <% end %>
        <span><%= @user.name %></span>
      </div>
    </article>
  <article class="row user-books-container">
    <div class="col">
      <div class="title-container">
        <h2 class="users-books">ユーザー投稿一覧</h2>
      </div>
      <%= render "users_books" %>
    </div>
  </article>
</div>
