<% provide(:title, "投稿タイトル一覧") %>
<div class="container books-index-container">
  <div class="row">
    <div class="col">
      <h1 class="title-container">全ての投稿タイトル</h1>
      <%= paginate @books %>
      <div class="book-items">
        <ul class="books">
          <% @books.each do |book|%>
            <li id="book-<%= book.id %>">
              <div class = "row book-list">
                <div class="col-md col-book-item">
                  <span class = "row">
                    <span class="col-6">投稿者: <%= link_to book.user.name,book.user,class: "user-name" %></span>
                    <span class="col-6 book-timestamp"><%= time_ago_in_words(book.created_at) %>前に投稿</span>
                  </span>
                  <div class="row user-image-book-title">
                    <% if book.user.image? %>
                      <%= image_tag book.user.image.url,size:65,class: "user-image d-none d-md-inline-block" %>
                    <% else %>
                      <%= image_tag "default.png" ,size:65,class: "user-image user-image-default d-none d-md-inline-block" %>
                    <% end %>
                    <span class="col book-title">
                      <%= link_to book.title,book %>
                    </span>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <%= paginate @books %>
    </div>
  </div>
</div>
